htdocs/rkarp/*

.DS_Store

htdocs/rkarp/application/cache/*
!htdocs/rkarp/application/cache/index.html

htdocs/rkarp/application/logs/*
!htdocs/rkarp/application/logs/index.html

!htdocs/rkarp/application/*/.htaccess

htdocs/rkarp/composer.lock

htdocs/rkarp/user_guide_src/build/*
htdocs/rkarp/user_guide_src/cilexer/build/*
htdocs/rkarp/user_guide_src/cilexer/dist/*
htdocs/rkarp/user_guide_src/cilexer/pycilexer.egg-info/*
htdocs/rkarp/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
